.HeaderDiv{
    position: relative;
    width: 1305px;
    height: 100px;
    color: black;
    background-color: rgb(11, 102, 102);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}