
.container-fluid{
    background-color: #2488F3;
    color: black;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 80px;
    left: 108px;
    
    
  
}

#HeaderTopic{
    position: relative;
    left: 40px;
    font-family: "Quicksand";
}
