.NavBarDiv{
   background-color: #013E7D;
    height: 650px;
    position: absolute;
}
.NavBar{
    position: relative;
    top: 100px;
}

img{
    width: 40px;
    height: 40px;
    position: relative;
}