.NavBarDiv{
   background-color: #013E7D;
    height: 650px;
    position: absolute;
}
.NavBar{
    position: absolute;
    top: 70px;
    left: 20px;
}

img{
    width: 35px;
    height: 35px;
    position: relative;
}
.SriLankanLogo{
    width: 70px;
    height: 80px;
    position: relative;
    left: 20px;
}