.LabChatImage{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 520px;
    left: 109px;
    top: 130px;

}
.txt{
    position: relative;
    top: 530px;
    left: 290px;
    width: 500px;
}